body {
  width: 100%;
  margin: 0px;
}

.fixedContainer {
  position: sticky;
  top: 0;
  background: white;
}

header {
  width: 100%;
  text-align: center;
  margin: 20px auto 0px auto;
  background-color: transparent;
}

h5 {
  color: black;
  text-align: center;
  margin: 0px auto 10px auto;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

nav {
  width: 70%;
  margin: 12px auto;
}

.navigation {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(grey, black);
}

li a {
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #fff;
  color: black;
  font-family: "Roboto", sans-serif;
}
