body {
  width: 100%;
}

.header {
  width: 50%;
  text-align: center;
  margin: 0px auto;
  border: 1px solid black;
}

.container1 {
  width: 50%;
  display: flex;
  margin: 0px auto;
  border: 1px solid black;
}

.container2 {
  width: 50%;
  text-align: center;
  margin: 0px auto;
  border: 1px solid black;
}

.container3 {
  width: 50%;
  text-align: center;
  margin: 0px auto;
  border: 1px solid black;
}

form {
  width: 50%;
  text-align: center;
  margin: 0px auto;
}

.parent1 {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  border: 1px solid black;
}

.child1 {
  width: 50%;
  margin: 5px auto;
  box-sizing: border-box;
}

table {
  text-align: center;
  width: 50%;
}

.grandchild {
  width: 50%;
  margin: 0px 40px;
}

.child2 {
  width: 50%;
}

.companiesReturned {
  border: 1px solid black;
}
.companiesTicker {
  border: 1px solid black;
}

p {
  text-align: center;
}
